<!-- display: none style will any child that does not have #pageContent local variable defined -->
<div class="content-wrapper" #contentWrapper style="display: none">
	<ng-content></ng-content>
</div>
<div class="paginated-view" #paginatedView *ngFor="let page of pages$ | async">
	<app-page [pageContent]="page" [headerTemplate]="headerTemplate" [footerTemplate]="footerTemplate"></app-page>
</div>

<ng-template #headerTemplate>
	<div class="header">Header</div>
</ng-template>


<ng-template #footerTemplate>
	<div class="footer">Footer</div>
</ng-template>